* {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background: url(imagenes/Imagen\ de\ header.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: contain;
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    background: rgb(0, 0, 0, .1);
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.logo {
    flex: 1 1 auto;
}

.logo a {
    color: #fff;
    font-size: 30px;
}

.logo a:hover {
    color: #343434;
}

.nav {
    display: flex;
    flex: 5 1 auto;
}

.nav a {
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    padding: 0px 10px;
    letter-spacing: 2px;
}

.nav a:hover {
    color: #343434;
}

.social {
    flex: 1 1 auto;
    display: flex;
}

.social a {
    color: #fff;
    padding: 0px 5px;
    font-size: 18px;
}

.social a:hover {
    color: #343434
}

.text-principal {
    background: #861919;
}

h1 {
    background: #DF4C4C;
}

.section {
    background: #000;
    display: flex;
}

.articles {
    background: #3D0C5E;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.article {
    background: #861919;
    flex: 1 1 40%;
}

.navegation {
    background: #68338C;
    flex: 1 1 100%;
}

.aside {
    background: #4F0606;
    flex: 1 1 auto;
}

.advertising {
    background: #142A60;
}

.footer {
    background: black;
    display: flex;
    justify-content: center;
}

.pie {
    background: #4F0606;
    width: 300px;
}